EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAIk8QgZhwKIAg1BgaGHL_Hl1Qj1J3iQqI
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=garageinventoryapp.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=garageinventoryapp
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=garageinventoryapp.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=285713189890
EXPO_PUBLIC_FIREBASE_APP_ID=1:285713189890:web:e212587b7ca3479fefab1b
